/* EventList.css */
/* ViewEventsUserSide.css */

.event-card button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.event-card button:hover {
  background-color: darkblue;
}

.event-list {
  margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .event-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .event-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .event-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .event-card p {
    margin-bottom: 8px;
  }
  