/* EventList.css */

.event-list {
  margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .event-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .event-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .event-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .event-card p {
    margin-bottom: 8px;
  }
  
  .event-card button {
    padding: 8px 12px;
    /* background-color: #dc3545; */ 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-grp {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .delete {
    background-color: red;
    color: white;
  }
  
  .volunteer {
    background-color: blue;
    color: white;
  }

  .event-card button:hover {
    background-color: #c82333;
  }